/* -----------------------
  CUSTOM CSS
-------------------------  */
#enter{
  font-size: 30px;
  float: right;

}

.smallFont{
  font-size: 35px;
text-align: center;
line-height: 55px;
}


#cross {
  margin: 0 auto;
  width: 800px;
  height: 800px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
}

#instructions{
  font-size: 40px;
  line-height: 65px;
  text-align: center;
}

.resultLeft{
  font-size: 50px;
  line-height: 75px;
  margin-left: 50px;
}


.cooperate{
  color: blue;
  font-size: 70px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
}

.compete{
  color: red;
  font-size: 70px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
}

#ss{
  margin-top: 30px;
}
/*#questions{
  margin-top: 15%;
}*/
.ui-dialog{
    width: 100% !important;
    top: 100px !important;
    height: 100% !important;
    left: 50% !important;
    margin-left: -50% !important;
    border: none !important;
    background: #ffffff !important;
    font-size: 32px !important;
    line-height: 50px !important;
    display: none !important;

}

.ui-dialog .ui-dialog-content{
  text-align: center !important;
  font-size: 50px !important;
}

.ui-dialog-buttonpane{
  background-color: #ffffff !important;
  font-size: 50px !important;
}

.ui-dialog .ui-dialog-buttonpane button{
  }

#next{
  margin-top: 60px;
  position: absolute;
  left: 50%;
  margin-left: -60px;
}

 .ui-dialog-content{
    min-height: 200px;
 }

 .ui-dialog-titlebar{
    
 }
 
.jspsych-display-element {
    width: 800px;
    margin: 50px auto 50px auto;
}



#matrix{
  height: 400px;
  width: 430px;
  position: absolute;
  left: 50%;
  margin-left: -215px;
}

.ui-widget-overlay {
   background: #ffffff !important;
 
 }
 .ui-widget-header{
    background: #ffffff !important;
    color: black !important;
    border: none !important;
    overflow: visible !important;
 }

  .ui-widget-content{
    border: none !important;
  }

 .ui-dialog .ui-dialog-title{
  float: none !important;
  white-space: normal !important;
  font-family: 'Open Sans', 'Arial', sans-serif !important;
  font-size: 50px !important;
  line-height: 75px !important;
  font-weight: normal !important;
 }

.ui-button{
 display: none!important;
}

.ui-state-hover{
  background: #efefef !important;
}

.ui-state-active{

}

.ui-button-text{
  color: black !important;
}

*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#scale{
  width: 1200px;
  position: absolute;
  left: 50%;
  margin-left: -600px;
}

#welcome{
  margin-top: 25%; 
}


/* ---------------------
   Base CSS 
--------------------*/


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

html {
 font-family: 'Open Sans', 'Arial', sans-serif;
 font-size: 18px;
 line-height: 1.6em;
}

p {
    clear:both;
    text-align: center;
    font-size: 50px;
    line-height: 75px;
}

.very-small {
    font-size: 50%;
}

.small {
    font-size: 75%;
}

.large {
    font-size: 125%;
}

.very-large {
    font-size: 150%;
}


/* --------------------
  Loading Spinner 
-----------------------*/
.heading{
        text-align: center;
        margin-top: 50px;
        font-size: 50px;
        line-height: 75px;
    }
    .spinner {
      margin: 100px auto;
      width: 75px;
      height: 35px;
      text-align: center;
      font-size: 10px;
    }

    .spinner > div {
      background-color: #000000;
      height: 100%;
      width: 6px;
      display: inline-block;
      
      -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
      animation: stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    .spinner .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    .spinner .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    .spinner .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }

    @-webkit-keyframes stretchdelay {
      0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
      20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes stretchdelay {
      0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
      } 20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
      }
    }

/*
 *
 * Classes for changing location of things
 *
 */
 
.left {
    float: left;
}

.right {
    float: right;
}

.center-content {
    text-align: center;
}

/*
 *
 * Form elements like input fields and buttons
 *
 */

input[type="text"] {
    font-family: 'Open Sans', 'Arial', sans-sefif;
    font-size: 14px;
}

button {
    padding: 0.5em;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    color: #333;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    cursor: pointer;
    margin-top: 40px;
}

button:hover {
    border:1px solid #ccc;
}



/*
 *
 * PLUGIN: jspsych-single-stim
 *
 */
 
#jspsych-single-stim-stimulus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/*
 *
 * PLUGIN: jspsych-survey-text
 *
 */
 
 .jspsych-survey-text {
     margin: 0.25em 0em;
 }
 
 .jspsych-survey-text-question {
     margin: 2em 0em;
 }






